* {
    box-sizing: border-box;
    background-color: var(--light_gray);
}

:root {
    --red: #e6563B;
    --orange: #EB9D3A;
    --green: #7CB06C;
    --blue: #00ABA9;
    --light_gray: #F0F0F0;
    --gray: #E6E6E6;
}
a {
    color: black;
}
.active {
    color: black;
}
.bold {
    font-family: 'Anton', sans-serif;
}
.logo {
    height: 105px;
    width: 105px;
}
.icon {
    height: 18px;
    width: 18px;
}
li {
    color: var(--gray);
}
nav {
    display: flex;
}
.regular {
    font-family: 'Abel', sans-serif;
}

/* Can't reach badge class */
.lilbadge {
    height: 18px;
    width: 18px;
}






