* {
    box-sizing: border-box;
    background-color: var(--light_gray);
}
:root {
    --red: #e6563B;
    --orange: #EB9D3A;
    --green: #7CB06C;
    --blue: #00ABA9;
    --light_gray: #F0F0F0;
    --gray: #E6E6E6;
}
a {
    color: black;
}
.active {
    color: black;
}
.big-badge {
    border: 10px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 1.5em;
    padding-bottom: .75em;
    margin: 1em;
}
.blue {
    background-color: var(--blue);
}
.bold {
    font-family: 'Anton', sans-serif;
}
.card {
    margin: .5em;
}
.card-img-top {
    background-color: var(--gray);
    aspect-ratio: 2/1.5;
}
.green {
    background-color: var(--green);
}
.last-img {
    width: 6em;
    height: 6em;
    border-color: var(--gray);
}
.logo {
    height: 105px;
    width: 105px;
}
li {
    color: var(--gray);
}
.lilbadge {
    height: 18px;
    width: 18px;
}
.orange {
    background-color: var(--orange);
}
.red {
    background-color: var(--red);
}
.regular {
    font-family: 'Abel', sans-serif;
}
.row>* {
    padding: 0;
}
